#article{
    display: flex;
    margin: 5% 10%;
}
.imgArt{
    width: 50%;
    display: flex;
    justify-content: center;
}
.textArt{
    width: 50%;
    text-justify: auto;
    padding: 0% 10%;
    line-height: 1.5;
}
.textArt>h1{
    margin: 0%;
    color: greenyellow;
}
.textArt>p{
    margin: 0%;
    color: white;
}